*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */

:root{
    --main-dark-blue: #1f2937;
    --main-light-blue: #3b82f6;
}

/* Generic styles */

html{
    font-size: 16px;
}

body{
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.sign-up-btn{
    display: inline-block;
    padding: 0.4rem 1.5rem;
    font-size: 1.2rem;
    color: #f9faf8;
    border-radius: 8px;
}

/* Top navbar */

.header{
    background-color: var(--main-dark-blue);
}

.top-nav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.top-nav-links{
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.top-nav-logo a{
    font-size: 1.5rem;
    color: #f9faf8;
}

.top-nav-link{
    font-size: 1.125rem;
    color: #e5e7eb;
}

.top-nav-link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1200px){
    .top-nav{
        padding: 1rem;
    }
}

@media screen and (max-width: 930px){
    .top-nav{
        justify-content: space-around;
    }
}

/* Home section */

#home{
    background-color: var(--main-dark-blue);
}

.home-container{
    padding: 8rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.home-text{
    width: 100%;
    max-width: 500px;
}

.home-text-heading{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bolder;
    color: #f9faf8;
}

.home-text-details{
    color: #e5e7eb;
}

.home-text .sign-up-btn{
    margin-top: 1.5rem;
    background-color: #3882f6;
    transition: 0.2s;
}

.home-text .sign-up-btn:hover{
    background-color: #2A5CAF;
}

.home-img{
    width: 100%;
    max-width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #e5e7eb;
}

@media screen and (max-width: 1200px){

    .home-container{
        padding: 8rem 1rem;
    }

}

@media screen and (max-width: 930px){

    .home-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .home-img{
        width: 100%;
    }

}

/* About section */

.about-container{
    padding: 5rem 0;
    text-align: center;
}

.about-heading{
    margin-bottom: 4rem;
    color: var(--main-dark-blue);
    font-size: 2.25rem;
    font-weight: bolder;
}

.about-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}

.about-card{
    max-width: 200px;
}

.about-card-img{
    height: 200px;
    width: 200px;
    margin: 0 auto 0.3rem auto;
    border: 2px solid var(--main-light-blue);
    border-radius: 10px;
}

@media screen and (max-width: 1200px){
    
    .about-container{
        padding: 5rem 1rem;
    }

}

/* quote section */

#quote{
    background-color: #e5e7eb;
}

.quote-container{
    max-width: 700px;
    margin: 0 auto;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--main-dark-blue);
}

.quote{
    font-size: 2.25rem;
    font-style: italic;
}

.quote-source{
    font-size: 1.3rem;
    font-weight: bolder;
    align-self: flex-end;
}

@media screen and (max-width: 760px){

    .quote{
        font-size: 1.6rem;
    }

    .quote-source{
        font-size: 1rem;
    }

}

/* Sign up CTA section */

.sign-up-cta-container{
    display: flex;
    justify-content: space-around;
    margin: 7rem auto;
    padding: 3rem 1rem;
    color: #f9faf8;
    background-color: var(--main-light-blue);
    border-radius: 10px;
}

.cta-text-heading{
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
}

.cta-btn{
    display: flex;
    align-items: flex-end;
}

.sign-up-cta-container .sign-up-btn{
    border: 2px solid #f9faf8;
    transition: 0.2s;
}

.sign-up-cta-container .sign-up-btn:hover{
    color: var(--main-light-blue);
    background-color: #f9faf8;
}

@media screen and (max-width: 760px){

    .sign-up-cta-container{
        flex-direction: column;
        gap: 2rem 0;
        text-align: center;
    }

    .cta-btn{
        justify-content: center;
    }
}

/* Footer */

.footer{
    padding: 1rem;
    background-color: var(--main-dark-blue);
    text-align: center;
    line-height: 1.6;
}

.copyrights{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.my-github{
    transition: 0.2s all ease;
}

.my-github:hover{
    color: #bebebe;
}

@media screen and (max-width: 400px){
    .copyrights{
        font-size: 0.9rem;
    }
}